<footer>
    <div class="header">
        <h1>MARKET</h1>
        <div class="language">
            <h3>Select Language</h3>
            <select>
                <option value="english">English</option>
                <option value="spanish">Spanish</option>
                <option value="french">French</option>
              
            </select>
        </div>
        <div class="country">
            <h3>Select Country</h3>
            <select>
                <option value="usa">United States</option>
                <option value="canada">Canada</option>
                <option value="uk">United Kingdom</option>
               
            </select>
        </div>
    </div>
    <div class="footer-content">
        <div class="footer-section">
            <h3>Company</h3>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Services</h3>
            <ul>
                <li><a href="#">Ride</a></li>
                <li><a href="#">Drive</a></li>
                <li><a href="#">Eats</a></li>
                <li><a href="#">Freight</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Contact</h3>
            <ul>
                <li><a href="#">Help</a></li>
                <li><a href="#">Safety</a></li>
                <li><a href="#">Accessibility</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Sign Up</h3>
            <ul>
                <li><a href="/auth/sign-up">Sign Up as User</a></li>
                <li><a href="/auth/seller-signUp">Sign Up as Seller</a></li>
                <li><a href="/auth/rider-signUp">Sign Up as a Courier</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Sign In</h3>
            <ul>
                <li><a href="/auth/login">Sign In as User</a></li>
                <li><a href="/auth/seller-login">Sign In as Seller</a></li>
                <li><a href="/auth/rider-login">Sign In as a Courier</a></li>
            </ul>
        </div>
    </div>
</footer>